*{
    margin:0;
    padding:0;
    background:black;
}

html,body{
    min-height:150px;
    min-width:200px;
    font-size:20px;
}
h1,span{
    display:inline-block;
    font-size:30px;
}

.main{
    color:white;
    position:absolute;
    top:20px;
    left:50px;
}
.buttons{
    color:white;
    position:absolute;
    top:60px;
    left:15px; 
}
button{
    color:white;
    margin:4px;
    padding:2px;
}